.ball--1 {
  fill: #ffde00;
}

.ball--2 {
  fill: #ea5b0c;
}

.ball--3 {
  fill: #e30613;
}

.ball--4 {
  fill: #00983a;
}

.ball--5 {
  fill: #27348b;
}

.ball--6 {
  fill: none;
  stroke: #191926;
  stroke-linecap: round;
  stroke-linejoin: round;
}
