.ice-cream--1 {
  fill: none;
}

.ice-cream--2 {
  fill: #432918;
}

.ice-cream--3 {
  clip-path: url(#clip-path);
}

.ice-cream--4 {
  fill: url(#Degradado_sin_nombre_3);
}

.ice-cream--5 {
  fill: #8d5936;
}

.ice-cream--6 {
  fill: #958072;
}

.ice-cream--7 {
  clip-path: url(#clip-path-2);
}

.ice-cream--8 {
  fill: url(#Degradado_sin_nombre_2);
}

.ice-cream--9 {
  fill: #432714;
}

.ice-cream--10 {
  fill: #c5b9b1;
}

.ice-cream--11 {
  fill: #372010;
}

.ice-cream--12 {
  clip-path: url(#clip-path-3);
}

.ice-cream--13 {
  fill: url(#Degradado_sin_nombre_4);
}

.ice-cream--14 {
  clip-path: url(#clip-path-4);
}

.ice-cream--15 {
  fill: url(#Degradado_sin_nombre_4-2);
}
