.pencil--1 {
    font-size: 32.57px;
    fill: #1d1d1b;
    font-family: TypoGroteskRounded, Typo Grotesk Rounded;
}

.pencil--2 {
    letter-spacing: 1.43em;
}

.pencil--3 {
    fill: #ca9e67;
}

.pencil--4 {
    fill: #f9b233;
}

.pencil--5 {
    fill: #3c3c3b;
}

.pencil--6 {
    fill: #c6c6c6;
}

.pencil--7 {
    fill: #e30613;
}

.pencil--8 {
    fill: none;
    stroke: #7b6a58;
    stroke-linecap: round;
    stroke-linejoin: round;
}
